.loader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
}

.loader-pipe {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin: 0 1rem;
}

.hidden-block {
    position: relative;
    z-index: 3;
    min-height: 750px;
    height: 100%;
    transition: .5s;
}

.hidden-block.show {
    opacity: 1;
}

.hidden-block.hide {
    opacity: 0;
}

.btn {
    text-transform: uppercase;
    /*letter-spacing: 2px;*/
    font-size: 14px;
    font-weight: bold;
    background: #5734e0;
    color: white;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 4px 1px #3a518b;
    position: absolute;
    bottom: -1.2rem;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    outline: none;
}

.link-btn {
    width: max-content;
    margin: 0 auto;
}

