.main-card {
    /*position: relative;*/
    padding: 7rem 0;
    box-sizing: border-box;
    /*z-index: 0;*/
}

.card-info-block {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.comeback-block {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -2rem;
    left: 4rem;
    opacity: 0;
    animation: comeback 1s;
    animation-fill-mode: forwards;
}

.comeback-arrow {
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: #2e244c;
    /*width: max-content;*/
    border-radius: 50px;
    position: relative;
}

.comeback-img {
    width: 50px;
    position: absolute;
    left: 1.5rem;
}

.comeback-title {
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 1rem;
}


/*CardInfo*/

.card {
    max-width: 1000px;
    z-index: 3;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    animation: card 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-top: 15rem;
}

.weather-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: url("../../../../../assets/img/png/city-1.png") no-repeat center;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    padding: 5rem;
    box-sizing: border-box;
}

.weather-temperature {
    width: max-content;
    color: white;
    font-weight: normal;
    margin: 0 auto;
}

.weather {
    color: white;
    font-size: 26px;
    display: block;
    width: max-content;
    margin: 0 auto;
}

.weather-character {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.weather-humidity, .weather-wind {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    color: white;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 1.5rem;
}

.weather-humidity {
    position: relative;
}

.weather-humidity::after {
    content: "";
    position: absolute;
    right: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 55px;
    background-color: white;
}

.weather-city-title {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: white;
    padding-bottom: .5rem;
    border-bottom:  4px solid white;
    font-size: 28px;
}

.weather-days {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    box-sizing: border-box;
}

.weather-day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.weather-day.active {
    /*background: #5f5f5f;*/
    padding: .5rem 1.5rem;
    box-sizing: border-box;
    transform: scale(1.1);
    border-left: 1px solid #5f5f5f;
    border-right: 1px solid #5f5f5f;
}

.day-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: max-content;
    margin: 0 auto .5rem;
}

.day-img {
    max-width: 70px;

}

.day-temperature {
    font-size: 40px;
    margin-top: 1rem;
}

.day-weather {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    color: grey;
    margin-top: .5rem;
}

.day-temperature::after {
    width: 5px;
    height: 5px;
    border: 1px solid #2e244c;
    top: .25rem;
    right: -.5rem;
}


/*Decor*/

.decor {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: linear-gradient(to right, #fdd79d, #f5b4c7);
    position: absolute;
    transition: 1.2s;
    animation: decor .6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 0;
    transform: rotate(0) scale(0);
    /*opacity: 1;*/
}

@keyframes decor {
    to {
        transform: rotate(720deg) scale(8);
    }
}

@keyframes card {
    from {
        opacity: 0;
    }

    50% { transform: rotate(5deg); }

    55% { transform: rotate(-5deg);}

    60% { transform: rotate(5deg); }

    65% { transform: rotate(-5deg);}

    70% { transform: rotate(5deg); }

    75% { transform: rotate(-5deg);}

    80% { transform: rotate(5deg); }

    85% { transform: rotate(-5deg);}

    90% { transform: rotate(5deg); }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes comeback {
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 1024px) {
    main.main-card.dark .decor {
        /*position: absolute;*/
        top: 25%;
    }

    @keyframes decor {
        to {
            transform: rotate(720deg) scale(6);
        }
    }

    .comeback-block {
        top: -4rem;
    }

    .card {
        max-width: 820px;
    }

    .card-info-block {
        padding-top: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .card {
        max-width: 720px;
    }

    main.main-card.dark .decor {
        /*position: absolute;*/
        top: 5%;
        right: 15%;
        animation: decor 3s linear 1s infinite alternate-reverse;
        animation-fill-mode: forwards;
    }

    @keyframes decor {
        to {
            transform: rotate(720deg) scale(3);
        }
    }

    .weather-days {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .weather-day {
        margin: 1rem;
    }
}

@media screen and (max-width: 540px) {
    main.main-card.dark .decor {
        right: 30%;
    }
}

@media screen and (max-width: 425px) {
    .weather-days {
        padding: 2rem 0;
    }

    .weather-day.active {
        transform: scale(1);
        margin: 1rem 0;
    }

    .card {
        max-width: 400px;
    }

    .city-block {
        margin-right: 1rem;
    }

    .comeback-block {
        top: -4rem;
        left: 1rem;
    }

    main.main-card.dark .decor {
        top: 5%;
        right: 30%;
    }

    @keyframes decor {
        to {
            transform: rotate(720deg) scale(3);
        }
    }
}

@media screen and (max-width: 375px) {
    .card {
        max-width: 350px;
    }


    main.main-card.dark .decor {
        width: 50px;
        height: 50px;
        top: 5%;
        right: 30%;
        /*animation: de;*/
        transition: 1s;
        transform: scale(0);
    }

    @keyframes decor {
        to {
            transform: scale(2);
        }
    }

    .city-block {
        margin-top: 2rem;
    }

    .weather-city-title {
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .weather-info {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .card {
        max-width: 300px;
    }

    .city-block {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .weather-city-title {
        font-size: 24px;
    }

    main.main-card.dark .decor {
        top: 0;
    }
}
