.main {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 7.5rem 3rem;
    height: 100vh;
}

.link {
    text-decoration: none;
}

/*Animations*/

@keyframes cardsAnimate {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 425px) {
    .main {
        height: 100%;
        padding: 2rem 1.5rem;
    }
}
